body {
	font-family: arial, serif;
	background-color: rgb(220 220 220);
}

header, main, footer{
	max-width: 1400px;
	width: 99%;
	margin: 0px auto;
	background-color: rgb(200 200 100);
	border: 2px solid rgb(200 200 200);
	box-shadow: 0px 0px 10px gray;
}
footer {
	padding: 15px 5px;
}
main{
	display: flex;
	flex-wrap: wrap;

}
h1, h2 {
	text-align:center;
	margin: 5px auto;
}

p{
	text-align: justify;
	margin: 0px 10px;
	text-indent: 25px;
}

section{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	margin: 10px;
	width: calc(50% - 4px - 20px);
	box-shadow: 3px 3px 3px rgb(240 70 240);
	border: 2px solid rgb(200 0 200);
}
section>div{
	margin: 2px;
}
section>div~div{
	text-align: center;
}
input[type="checkbox"] {
	position: relative;
	opacity: 0.9;
	z-index: -1;
}
label>div{
	display: inline-block;
	box-sizing: border-box;
	height: 20px;
	width: 50px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 1px;
	background-color: white;
}
input+label>div>div{
	box-sizing: border-box;
	height: 16px;
	width: 18px;
	border: 1px solid black;
	border-radius: 9px 0px 0px 9px;
	background-color: gray;
	transition: 0.5s;
}

input:checked+label>div>div{
	/* box-sizing: border-box; */
	/* height: 16px; */
	/* width: 18px; */
	/* border: 1px solid black; */
	border-radius: 0px 9px 9px 0px;
	background-color: green;
	margin-left: 28px;
	transition: 0.5s;
}
input:checked+label{
	color: green;
}
input+label::after{
	display: inline-block;
	content: "сделано не верно";
	width: 140px;
	transition: 0.5s;
}
input:checked+label::after{
	/* display: inline-block; */
	content: "сделано верно";
	transition: 0.5s;
}
a {
	display: block;
}
