:root{
	--main-color1: #ffe000;
	--main-color2: #ffff44;	
	--main-color3: #E8C5E8;	
}

html {font-family: arial, sans-serif;}
body{
	max-width: 1400px;
	width: 98%;
	padding: 0px;
	margin: 0px auto;
	box-shadow: 0px 0px 5px black;
}
header{
	text-align: center;
	padding: 0px 5px;
	background-color: var(--main-color1);
}
h1{
	display: inline-block;
	text-align: center;
	font-size: 1.7rem;
}
img{
	display: block;
	width: 100%;
	max-width: 600px;
	margin: 0px auto;
	border: 1px solid purple;
}
img.halfImg{width: 50%;}
ul{margin: 0px;}
li{text-indent: 0px;}
header>p~p{
	margin: 10px 0px 0px 0px;
	padding-bottom: 5px;
	text-align: center;
}
footer{
	padding: 10px 15px;
	background-color: var(--main-color1);
}
footer p {margin: 5px 0px;}
footer a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 1px 1px 2px #797979;
	transition: 0.25s;
}
footer a:hover{
	text-decoration: underline;
	text-shadow: none;
	text-shadow: 0px 0px 1px #797979;
	transition: 0.25s;
}
main{
	display: flex;
	flex-flow: row wrap;    
	background-color: var(--main-color2);
	padding-bottom: 5px;
}
section.zadan {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	width: calc(50% - 2 * 15px - 2 * 1px);
	margin: 15px;
	border: 1px solid purple;
	background-color:  var(--main-color3);
	box-shadow: 7px 7px 4px #d38fd3;
}
.zadan>div{
	padding: 0px 10px;
	text-align: justify;
	text-indent: 25px;
}
.zadan>div+div{
	text-align: center;
	padding: 5px 0px;
}
.zadan div.forExampe {
	text-align: justify;
	text-indent: 25px;
	padding: 0px 10px;
}
.forExampe h3{
	text-align: center;
	font-size: 1.1rem;
	margin-top: 10px;
	margin-bottom: 5px
}
h3.meLeft{
	text-align: justify;
}
ul.exForZadan1>li{
	list-style-type: circle;
	margin: 7px 0px;
	}
ul.exForZadan1 a{
	text-decoration: none;
	color: #45119b;
	padding-bottom: 2px;
}
ul.exForZadan1 a:hover{color: #7f8ad9;}
ul.exForZadan1 a.httpStyle{border-bottom: 1px #45119b dashed;}

ul.exForZadan2 li>span:hover {font-weight: bold}
ul.exForZadan2 li li li:hover {font-weight: bold}
ul.exForZadan2 li {font-weight: normal}

div.exForZadan3 {
	background-color: white;
	border: 1px solid purple;
	padding: 15px;
	margin: 5px;
}
div.exForZadan3 ol{margin: 0px;}
div.exForZadan3 li{padding: 2px 0px;}
div.exForZadan3 li:hover{background-color: #ffa984;} /* временно через ховер что-бы  запомнить цвет */

div.exForZadan4{
	background-color: #fbf2e9;
	border: 1px solid purple;
	padding: 15px;
	margin: 5px;
}
div.exForZadan4 textarea{
	border-color: #91b3eb;
	border-radius: 4px;
	width: 100%;
	display: none;
}
div.exForZadan5{
	background-color: #fbf2e9;
	border: 1px solid purple;
	padding: 15px;
	margin: 5px auto;
	width: 400px;
}
div.exForZadan5>table{
	border-collapse: collapse;
	margin: 5px auto;
}
div.exForZadan5>table td{
	border: 2px solid gray; 
	padding: 10px 15px;
}
div.exForZadan5>table>thead td{font-weight: bold;}

div.exForZadan6{	
	background-color: #fbf2e9;
	border: 1px solid purple;
	padding: 15px;
	margin: 5px;
}
div.exForZadan6 div{
	border: 1px solid gray;
	padding: 2px;
	margin: 5px;
}
div.exForZadan6 p{
	text-indent: 0px;
	margin: 10px;
}
div.exForZadan6 p+div{
	box-sizing: border-box;
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: 0px 0px 0px auto;
	border-left: 15px solid #fbf2e9;
	border-top: 1px solid #fbf2e9;
	border-bottom: 15px solid gray;
	
}
.zadan div.forButton {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	padding: 0px 10px;
}
.zadan div.forButton>div{
	flex-basis: 50%;
}
.zadan h2{
	text-align: center;
	text-indent: 0px;
	margin: 5px 0px;
}
.zadan p{margin: 10px 0px;}
.zadan input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
label{
	display: inline-block;
	text-indent: 0px;
}
label.rezults{
	margin-top: 11px;
}
.zadan label.rezults::before{
	display: inline-block;
	content: 'Оценка:';
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
}
.zadan label.rezults::after{
	display: inline-block;
	content: 'не проверено';
	color: gray;
	font-size: 16px;
	margin-left: 5px;
	margin-right: 7px;
}
.zadan label span{
	text-indent: 0px;
	vertical-align: middle;
	display: inline-block;
	height: 15px;
	width: 50px;
	padding: 2px;
	border: 1px solid purple;
	border-radius: 5px;
	background-color: white;
}
.zadan label span>span{
	display: block;
	height: calc(100% - 6px);
	width: 30%;
	border-radius: 3px;
	background-color: #bbb;
	border-color: gray;
	transition: 0.25s;
}
.zadan label.rezults:hover span>span{
	filter: brightness(125%);
	transition: 0.25s;
}
.zadan input:checked+label.rezults::after{
	display: inline-block;
	content: 'cправился';
	font-weight: bold;
	color: purple;
	margin-right: 23px;
}
.zadan input:checked+label span>span{
	margin-left: calc(70% - 6px);
	height: calc(100% - 6px);
	border-color: purple !important;
	background-color: purple !important;
	transition: 0.25s;
}
.zadan input:checked+label span{border-color: purple !important;}

.MyNewclass>span{border-color: red !important;}
.MyNewclass>span>span{
	border-color: red  !important;
	background-color: red  !important;
}

.zadan input+label.MyNewclass::after{
	display: inline-block;
	content: 'не cправился';
	font-weight: bold;
	color: red;
	margin-right: 0px;
}

div.myCode {
	position: relative;
	padding: 0px !important; 
}
.myCode label.viewCode{
	display: block;
	background-color: purple;
	color: white;
	font-weight: bold;
	margin: 0px;
	padding: 5px 15px;
}
.myCode label.hideCode{
	display: none;
	background-color: var(--main-color1);
	color: black;
	font-weight: bold;
	margin: 0px;
	padding: 5px 15px;
}
.myCode label.hideCode{display: none;}
.myCode input:checked~div label.hideCode{display: block;}
.myCode input:checked~div label.viewCode{display: none;}
.myCode input:checked~div{
	border: 1px solid purple;
	  outline: 4px solid var(--main-color1);
	  outline-offset: -5px;
}
.myCode input{
	position: relative;
	z-index: -1;
	opacity: 0;
}
.myCode pre{
	display: none;
	margin: 0px;
	padding: 5px 10px;
}
.myCode input:checked~div{
	display: block;
	position: relative;
	left: 0px;
	right: 0px;
}
.myCode input:checked~div pre{
	display: block;
	background-color: #f3f3c5; 
	text-align: left;
	white-space: pre-wrap;
	overflow-y: scroll;
	height: 17em;
}

.noscripts {display: none;}
span.mainLev1{
	color: red;
	font-weight: bold;
}
span.mainLev2{
	color: blue;
	font-weight: bold;
}
span.mainLev3{color: green}



/* Медиазапросы */
@media (max-width: 1050px){
	section.zadan {width: 100%;}
	label{display: block;}
}
@media (max-width: 920px){
	label{display: inline-block;}
}
@media (max-width: 580px){
	img.halfImg{width: 100%}
	label{
		display: block;
		text-indent: 0px;
	}
}
@media (max-width: 400px){
	h1{font-size: 1.1rem;}	
	h1>img{
		height: 20px;
		width: 20px
	}
	h2{font-size: 1rem;}
}
@media (max-width: 318px){
	.zadan label::before{display: block;}
	.zadan label::after{display: block;	}
}