html {
	font-family: arial, sans-serif;
	background-color: #f5f5f5;
}
body{
	max-width: 1400px;
	width: 98%;
	background-color: yellow;
	padding: 0px;
	margin: 0px auto;
	box-shadow: 0px 0px 5px black;
}
main{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-bitween;
}
section {
	width: 50%;
}
section.shirokii{
	width: 100%;
}
.noscripts {display: none;}